---
layout: default
title: Sparse coded word representations
---
<div class="blurb">
    <h1>Sparse Coding of Neural Word Embeddings for Multilingual Sequence Labeling</h1>
    <p>Below is the list of sparse coding when applied </p>
    $$\min\limits_{D \in \mathcal{C}, \alpha} \frac{1}{2n} \sum_{i=1}^{n} \left(\lVert \mathbf{x}_i-D \boldsymbol{\alpha}_i \rVert_2^2 + \lambda \lVert \boldsymbol{\alpha}_i \rVert_1 \right)$$
</div><!-- /.blurb -->
<ul>
{% for l in ['bg', 'cs', 'da', 'de'] %}
{{ l }}
{% endfor %}
</ul>
<hr />
{% for i in (1..5) %}
  {{ i }}
{% endfor %}
https://github.com/begab/sparse_embeds/raw/master/spams/cs.alph
